.reviews-section {
  background-color: #f4f4f4;
  padding: 40px 0;
}

.reviews-header {
  text-align: center;
  margin-bottom: 30px;
}

.reviews-header h2 {
  font-size: 2rem;
  color: var(--primary-text-color);
}

.review-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-content p {
  font-size: 1rem;
  color: var(--primary-text-color);
  line-height: 1.5;
}

.review-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.review-author img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review-author p {
  font-size: 0.9rem;
  color: var(--primary-text-color);
}

/* Add Swiper-specific styles */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  position: relative;
}
